<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>Weather</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">
  <ion-card>
    <ion-item color="tertiary">
      <p>Dublin Weather</p>
    </ion-item>
    <ion-item>
    <span>
    Temperature: {{(weatherValues.temp - 273).toFixed(0)}} °C
  </span>
</ion-item>

<ion-item>
  <span>
  Humidity: {{weatherValues.humidity}} %
</span>
</ion-item>

<ion-item>
  <span>
  Pressure: {{weatherValues.pressure}} mbar
</span>
</ion-item>
  </ion-card>
</ion-content>
